:root {
    --white: #ffffff;
    --off-white: #e5e5e5;
    --transp-white-1: rgba(255, 255, 255, 0.25);
    --transp-white-2: rgba(255, 255, 255, 0.18);
    --blue-1: #62b8f5;
    --blue-2: #0077ff;
    --shadow: rgba(3, 46, 87, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    color: rgb(5, 41, 51);
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

form {
    display: grid;
    grid-template-columns: 72% 25%;
    grid-gap: 3%;
    margin-bottom: 2rem;
}

.container {
    width: 50%;
    background: var(--transp-white-2);
    backdrop-filter: blur(10px);
    padding: 2rem;
    border: 2px solid var(--transp-white-2);
    border-radius: 10px;
    color: rgb(5, 41, 51);
    box-shadow: 0 8px 24px var(--shadow);
}

input {
    background-color: transparent;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    outline: none;
    border: 1px solid white;
    font-size: 1rem;
    color: #fff;
}

input::placeholder {
    color: #ccc;
}

.btn {
    padding: 0.8rem 1rem;
    border: 2px solid #04009A;
    cursor: pointer;
    transition: 0.3s ease;
    color: var(--blue-2);
    background-color: transparent;
    border-radius: 10px;
    font-weight: bold;
}

.btn:hover {
    transform: translateY(-2px);
    background-color: rgb(5, 41, 51);
    color: #fff;
}

.weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 1rem 0;
    margin-top: 2rem;
}

.left, .right {
    flex: 1;
    padding: 2rem;
    border-radius: 10px;
    background: var(--transp-white-2);
    backdrop-filter: blur(10px);
    text-align: center;
}

.temp {
    font-size: 2.5rem;
    font-weight: bold;
}

.city {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.icon img {
    width: 100px;
}

.condition {
    margin-top: 1.5rem;
    font-size: 1.1rem;
    text-align: center;
}

/* Responsive Styles */
@media only screen and (max-width: 1000px) {
    .container {
        width: 80%;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        width: 90%;
        text-align: center;
    }

    .weather {
        flex-direction: column;
    }

    .btn {
        margin-top: 1rem;
    }

    form {
        grid-template-columns: 100%;
    }
}
